In [1]:
import os

In [2]:
os.getcwd()

'C:\\Users\\alicele'

In [3]:
os.chdir('C:\\Users\\alicele\\Downloads\\1602668743_SQLFiles_Tier_1_updated_10_13_2020')

In [4]:
os.getcwd()

'C:\\Users\\alicele\\Downloads\\1602668743_SQLFiles_Tier_1_updated_10_13_2020'

In [43]:
query1 = """
SELECT fac.name
, SUM(CASE WHEN bo.memid = 0 THEN (bo.slots*fac.guestcost) 
  ELSE (bo.slots*fac.membercost) END) AS total_revenue
FROM FACILITIES fac
JOIN BOOKINGS bo
ON bo.facid = fac.facid
GROUP BY fac.name
HAVING total_revenue < 1000
ORDER BY total_revenue DESC
"""

query2 = """
SELECT mem1.firstname
, mem1.surname
, mem2.firstname || ""||mem2.surname as recommendedby
FROM MEMBERS AS mem1
LEFT JOIN MEMBERS AS mem2
ON mem1.recommendedby = mem2.memid
ORDER BY mem1.firstname, mem1.surname
"""

query3 = """
SELECT facid
, COUNT(memid) AS member_usage
FROM BOOKINGS 
WHERE memid != 0
GROUP BY facid
"""

query4 = """
SELECT facid
, COUNT (DISTINCT strftime('%M',starttime)) AS month_usage
FROM BOOKINGS
WHERE memid != 0
GROUP BY facid
"""

Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members!

In [13]:

import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = r"C:\\Users\\alicele\\Downloads\\1602668743_SQLFiles_Tier_1_updated_10_13_2020\\SQLFiles Tier 1\\sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Pool Table', 270)
('Snooker Table', 240)
('Table Tennis', 180)

https://www.sqlitetutorial.net/sqlite-python/sqlite-python-select/

Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order

In [44]:
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    cur.execute(query2)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Anna', 'Mackenzie', 'DarrenSmith')
('Anne', 'Baker', 'PonderStibbons')
('Burton', 'Tracy', None)
('Charles', 'Owen', 'DarrenSmith')
('Darren', 'Smith', None)
('Darren', 'Smith', None)
('David', 'Farrell', None)
('David', 'Jones', 'JaniceJoplette')
('David', 'Pinker', 'JemimaFarrell')
('Douglas', 'Jones', 'DavidJones')
('Erica', 'Crumpet', 'TracySmith')
('Florence', 'Bader', 'PonderStibbons')
('GUEST', 'GUEST', None)
('Gerald', 'Butters', 'DarrenSmith')
('Henrietta', 'Rumney', 'MatthewGenting')
('Henry', 'Worthington-Smyth', 'TracySmith')
('Hyacinth', 'Tupperware', None)
('Jack', 'Smith', 'DarrenSmith')
('Janice', 'Joplette', 'DarrenSmith')
('Jemima', 'Farrell', None)
('Joan', 'Coplin', 'TimothyBaker')
('John', 'Hunt', 'MillicentPurview')
('Matthew', 'Genting', 'GeraldButters')
('Millicent', 'Purview', 'TracySmith')
('Nancy', 'Dare', 'JaniceJoplette')
('Ponder', 'Stibbons', 'BurtonTracy')
('Ramnaresh', 'Sarwin', 'FlorenceBader')
('Tim', 'Boothe', 'TimRownam')
('Tim', 'Rownam', None)
('Timothy', 'Baker', 'JemimaFarrell')
('Tracy', 'Smith', None)

Q12: Find the facilities with their usage by member, but not guests

In [30]:
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    cur.execute(query3)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
(0, 308)
(1, 276)
(2, 344)
(3, 385)
(4, 421)
(5, 27)
(6, 195)
(7, 421)
(8, 783)

Q13: Find the facilities usage by month, but not guests

In [40]:
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    cur.execute(query4)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
(0, 2)
(1, 2)
(2, 2)
(3, 2)
(4, 2)
(5, 2)
(6, 2)
(7, 2)
(8, 2)